.oldBrand:root {
	--sidebar: #7289DA;
	--sidebarDark: #6479c1;
}

.newBrand:root {
	--sidebar: var(--brand-experiment);
	--sidebarDark: var(--brand-experiment-530);
}

::selection {
  background: var(--sidebar);
  color: #fff !important;
}

/*
Attention!
This theme only works on light mode, with dark sidebar enabled.
*/

.theme-light {
	--header-primary: #060607;
	--header-secondary: #4f5660;
	--text-normal: #2e3338;
	--text-muted: #747f8d;
	--text-link: #0067e0;
	--channels-default: #6a7480;
	--interactive-normal: #4f5660;
	--interactive-hover: #2e3338;
	--interactive-active: #060607;
	--interactive-muted: #c7ccd1;
	--background-primary: #eee;
	--background-secondary: #e8e8e8;
	--background-secondary-alt: #d7d7d7;
	--background-tertiary: #eee;
	--background-accent: #747f8d;
	--background-floating: #fff;
	--background-mobile-primary: #f8f9f9;
	--background-mobile-secondary: #fff;
	--background-modifier-hover: rgba(116,127,141,0.08);
	--background-modifier-active: rgba(116,127,141,0.16);
	--background-modifier-selected: rgba(116,127,141,0.24);
	--background-modifier-accent: rgba(6,6,7,0.08);
	--background-mentioned: rgba(250,166,26,0.1);
	--background-mentioned-hover: rgba(250,166,26,0.2);
	--background-message-hover: rgba(6,6,7,0.02);
	--background-help-warning: rgba(250,166,26,0.1);
	--background-help-info: rgba(0,103,224,0.1);
	--scrollbar-thin-thumb: rgba(79,84,92,0.3);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #ccc;
	--scrollbar-auto-track: #f2f2f2;
	--scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
	--scrollbar-auto-scrollbar-color-track: #f2f3f5;
	--elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
	--elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
	--elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
	--elevation-high: 0 8px 16px rgba(0,0,0,0.16);
	--logo-primary: var(--sidebar);
	--focus-primary: #00b0f4;
	--guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
	--channeltextarea-background: rgba(0,0,0,0.1);
	--activity-card-background: #fff;
	--textbox-markdown-syntax: #6a7480;
	--deprecated-card-bg: #f8f9f9;
	--deprecated-card-editable-bg: rgba(246,246,247,0.6);
	--deprecated-store-bg: #f8f9f9;
	--deprecated-quickswitcher-input-background: #fff;
	--deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
	--deprecated-text-input-bg: rgba(79,84,92,0.02);
	--deprecated-text-input-border: rgba(79,84,92,0.3);
	--deprecated-text-input-border-hover: #b9bbbe;
	--deprecated-text-input-border-disabled: #dcddde;
	--deprecated-text-input-prefix: #b9bbbe;
}

.theme-dark {
	--header-primary: #fff;
	--header-secondary: #eee;
	--text-normal: #dcddde;
	--text-muted: #eee;
	--text-link: #00b0f4;
	--channels-default: #eee;
	--interactive-normal: #e4e4e4;
	--interactive-hover: #dcddde;
	--interactive-active: #fff;
	--interactive-muted: #eee;
	--background-primary: #36393f;
	--background-secondary: #2f3136;
	--background-secondary-alt: #292b2f;
	--background-tertiary: #202225;
	--background-accent: #4f545c;
	--background-floating: #18191c;
	--background-mobile-primary: #36393f;
	--background-mobile-secondary: #2f3136;
	--background-modifier-hover: rgba(255,255,255,0.16);
	--background-modifier-active: rgba(255,255,255,0.24);
	--background-modifier-selected: rgba(255,255,255,0.32);
	--background-modifier-accent: hsla(0,0%,100%,0.06);
	--background-mentioned: rgba(250,166,26,0.05);
	--background-mentioned-hover: rgba(250,166,26,0.08);
	--background-message-hover: rgba(4,4,5,0.07);
	--background-help-warning: rgba(250,166,26,0.1);
	--background-help-info: rgba(0,176,244,0.1);
	--scrollbar-thin-thumb: rgba(255,255,255,0.3);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: #202225;
	--scrollbar-auto-track: #2e3338;
	--scrollbar-auto-scrollbar-color-thumb: #202225;
	--scrollbar-auto-scrollbar-color-track: #2f3136;
	--elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
	--elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
	--elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
	--elevation-high: 0 8px 16px rgba(0,0,0,0.24);
	--logo-primary: #fff;
	--focus-primary: #00b0f4;
	--guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	--channeltextarea-background: #40444b;
	--activity-card-background: #202225;
	--textbox-markdown-syntax: #8e9297;
	--deprecated-card-bg: rgba(32,34,37,0.6);
	--deprecated-card-editable-bg: rgba(32,34,37,0.3);
	--deprecated-store-bg: #36393f;
	--deprecated-quickswitcher-input-background: #72767d;
	--deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
	--deprecated-text-input-bg: rgba(0,0,0,0.1);
	--deprecated-text-input-border: rgba(0,0,0,0.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: #dcddde;
}

/* Target the areas */
.sidebar-2K8pFh, /* main area sidebar */
.guilds-1SWlCJ, /* guild list */
.sidebarRegion-VFTUkN, /* user/server/channel settings sidebar */
.titleBar-AC4pGV, /* that bar at top linux users don't have */
.topSectionPlaying-1J5E4n, /* playing a game, user popout */
.headerPlaying-j0WQBV /* playing a game, user profile */ {
	--background-primary: var(--sidebar);
	--background-secondary: var(--sidebar);
	--background-secondary-alt: var(--sidebar);
	--background-tertiary: var(--sidebarDark);
}

/* Make emoji selection brighter */
.contents-18-Yxp {
	filter: brightness(119%) !important;
}

/* fuck you discord nitro menu button*/
.item-PXvHYJ {
	color: var(--interactive-active) !important;
}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	background-color: var(--background-modifier-selected);
}

/* why doesnt the background of the friends list have ANY bg rule*/
.peopleColumn-29fq28 {
	background-color: var(--background-primary);
}
.theme-dark .foreground-26ym5y {
	fill: #fff;
}
.circleIconButton-jET_ig {
	cursor: pointer;
	color: #fff;
}
.circleIconButton-jET_ig.selected-ugP_am {
	color: #fff;
	background-color: var(--background-primary);
}

/* fix win titlebar bar */
.titleBar-AC4pGV {
	margin-top: 0;
	padding-top: 4px;
	background-color: var(--sidebar);
}

/* user popout modal */
.headerPlaying-j0WQBV {
	background-color: transparent;
}
.headerPlaying-j0WQBV .headerTop-3C2Zn0 {
	background-color: var(--sidebar);
}
.headerPlaying-j0WQBV .activity-11LB_k {
	background-color: var(--sidebarDark);
}

/* user profile modal */
.topSectionPlaying-1J5E4n {
	background-color: transparent;
}
.topSectionPlaying-1J5E4n .header-QKLPzZ {
	background-color: var(--sidebar);
}
.topSectionPlaying-1J5E4n .headerFill-adLl4x {
	background-color: var(--sidebarDark);
}

/* Selection */
::selection {
  background: var(--sidebar);
  color: rgb(255, 255, 255) !important;
}